

@charset "utf-8";
/* CSS Document */
#body { 
	background: grey;
	 height:100vh;
	 margin-top: 0px;
}
.navbar.navbar-default.navbar-fixed-top.navabar-inverse{
	background:black;
}
.title{
	color:#fff;
	border:1px solid #fff;
	padding:5px;
	border-radius:5px;
}
.title:hover{
	color:#000000;
}
.dropdown ul li a:hover{
	background-color:#b9fc9;
}
.nav.navbar-nav.navbar-right li a{
	color:#fff;
}

.nav.navbar-nav.navbar-right li a:focus{
	background:#fff;
}
.nav.navbar-nav.navbar-right  li a:active{
background:#fff;	
}
.navbar-inverse .navbar-nav.active
a,.navbar-inverse .navbar-nav.active
a:focus,.navbar-inverse .navbar-nav:active
a:hover{
	background:#F1BA01;
}
#content_home{
	 height:100vh;
	 
	 
}

